@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Arial', sans-serif;
    margin: 0px;
}

div#change_username, section#input_zone {
    border: 5px outset #000;
}

div#change_username {
    height: 3%;
    display: inline-block;
    background-color: #ccc;
}

section#chatroom {
    border: 5px inset #000;
    height: 80%;
    overflow: auto;
}

section#input_zone {
    height: 7%;
    text-align: center;
    background-color: #ccc;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input#username {
    font-family: 'Arial', sans-serif;
}

input#message {
    display: inline-block;
    width: 88%;
    height: 70%;
    font-family: 'Arial', sans-serif;
    font-size: 2vh;
}

button#send_message {
    display: inline-block;
    padding: 11px 70px;
}

p.message {
    margin: 0px;
    width: 100%;
    font-size: 2.1vh;
    font-family: 'Arial', sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: #ccc;
}

.message:nth-child(odd) {
    border-bottom: 1px solid #000;
}

#feedback p {
    margin-left: 10px;
}